.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    position: relative;
    z-index: 5;
}

mat-sidenav-container {
    height: calc(100vh - 64px);
}

.mat-sidenav {
    background-color: #f5f5f5;
    /* Light gray background */
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    /* Shadow effect */
    width: 250px;
}

mat-sidenav-content {
    background-color: #ffffff;
    /* White background */
    padding: 16px;
}