<mat-card class="register-card">
    <h2>Registration</h2>
    <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Full Name</mat-label>
            <input matInput type="text" [formControl]="fullName" (blur)="updateFullNameErrorMessage()" required
                placeholder="John Doe" />
            @if (fullName.invalid) {
                <mat-error>{{ fullNameErrorMessage() }}</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" [formControl]="email" (blur)="updateEmailErrorMessage()" required
                placeholder="pat@example.com" />
            @if (email.invalid) {
            <mat-error>{{ emailErrorMessage() }}</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword() ? 'password' : 'text'" [formControl]="password"
                (blur)="updatePasswordErrorMessage()" required />
            <button mat-icon-button matSuffix (click)="hidePassword.set(!hidePassword())" type="button">
                <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            @if (password.invalid) {
            <mat-error>{{ passwordErrorMessage() }}</mat-error>
            }
        </mat-form-field>
        <!-- Confirm Password Field -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Confirm Password</mat-label>
            <input matInput [type]="hidePassword() ? 'password' : 'text'" [formControl]="confirmPassword"
                (blur)="updateConfirmPasswordErrorMessage()" required />
            @if (confirmPasswordErrorMessage()) {
                <mat-error>{{ confirmPasswordErrorMessage() }}</mat-error>
            }
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="email.invalid || password.invalid || confirmPassword.invalid || fullName.invalid" class="full-width">
            Register
        </button>
    </form>
</mat-card>